<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sakila.mapper.ActorFileMapper">
	<select id="selectActorFileListByActor"
			parameterType="int"
			resultType="com.example.sakila.vo.ActorFile">
		SELECT  
			actor_file_id actorFileId
			, actor_id actorId
			, originname
			, filename
			, ext
			, type
			, size
			, create_date createDate
		FROM actor_file 
		WHERE actor_id = #{actorId};
	</select>

	<insert id="insertActorFile" parameterType="com.example.sakila.vo.ActorFile">
		INSERT INTO actor_file (
			actor_id, originname, filename, ext, type, size
		) VALUES (
			#{actorId}, #{originname}, #{filename}, #{ext}, #{type}, #{size}
		)
	</insert>
</mapper>