<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sakila.mapper.FilmMapper">
	<!-- /on/actorOne -->
	<select id="selectFilmTitleListByActor"
			parameterType="int"
			resultType="com.example.sakila.vo.Film">
		SELECT 
			f.film_id filmId
			, f.title title
		FROM film_actor fa INNER JOIN film f
		ON fa.film_id = f.film_id
		WHERE fa.actor_id = #{actorId}
	</select>
</mapper>